/**********************************
*           KATEX
**********************************/

.katex-html {
  display: none;
}

.katex-mathml {
  font-size: 1.5rem;
}

p:has(.math) {
  text-align: center;
}