/**********************************
*           BLOG
**********************************/
.max-w-prose {
  max-width: 100%;
}

.prose {
  max-width: 100%;
}

.prose img {
  text-align: center;
}

.prose h1 {
  color: #0A96A6;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/**********************************
*           KATEX
**********************************/

.katex-html {
  display: none;
}

.katex-mathml {
  font-size: 1.5rem;
}

p:has(.math) {
  text-align: center;
}